<h1 mat-dialog-title>Cadastrar Nova Conta</h1>
<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Titular</mat-label>
            <input matInput formControlName="titular" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Número</mat-label>
            <input matInput formControlName="numero" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Agência</mat-label>
            <input matInput formControlName="agencia" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Saldo</mat-label>
            <input matInput formControlName="saldo" required>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onClose()" class="cancel-button">Cancelar</button>
        <span class="spacer"></span>
        <button mat-button type="submit">Cadastrar</button>
    </div>
</form>