<div class="container">
    <h1 class="title">Lista de Eventos Registrados</h1>

    <div class="button-container">
        <button mat-raised-button class="btn" (click)="voltar()">
            <mat-icon>arrow_back</mat-icon>
            Voltar
        </button>
    </div>

    <table class="lista-eventos mat-elevation-z8">
        <thead>
            <tr>
                <th>ID</th>
                <th>Mensagem</th>
                <th>Horário</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let evento of eventos">
                <td>{{ evento.id }}</td>
                <td>{{ evento.message }}</td>
                <td>{{ evento.horarioEvento | formatDate }}</td>
            </tr>
        </tbody>
    </table>
</div>