<div class="container">
    <h1 class="title">Lista de Contas Cadastradas</h1>

    <div class="button-container">
        <button mat-raised-button class="btn" (click)="openListaEventos()">
            <mat-icon>event_list</mat-icon>
            Lista de Eventos
        </button>
        <button mat-raised-button class="btn" (click)="openCadastro()">
            <mat-icon>add</mat-icon>
            Nova Conta
        </button>
        <button mat-raised-button class="btn" (click)="openTransferencia()">
            <mat-icon>swap_horiz</mat-icon>
            Transferência
        </button>
        <button mat-raised-button class="btn" (click)="openMenu()">
            <mat-icon>arrow_back</mat-icon>
            Voltar
        </button>
    </div>

    <table class="lista-clientes mat-elevation-z8">
        <thead>
            <tr>
                <th>ID</th>
                <th>Agência</th>
                <th>Número</th>
                <th class="center">Titular</th>
                <th>Saldo R$</th>
                <th class="center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td class="right">{{ cliente.id }}</td>
                <td class="right">{{ cliente.agencia }}</td>
                <td class="right">{{ cliente.numero }}</td>
                <td class="center">{{ cliente.titular }}</td>
                <td class="right">{{ cliente.saldo | currency:'BRL':'symbol':'1.2-2' }}</td>
                <td class="actions-column">
                    <button mat-icon-button color="warn" (click)="openConfirmDialog(cliente)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>