@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    padding-left: 1rem;
    color: #343837;
    font-weight: 700;
    margin-top: 1rem;
}

.lista-clientes {
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.lista-clientes th,
.lista-clientes td {
    border: 1px solid #ddd;
    padding: 12px;
}

.lista-clientes th {
    text-align: right;
    background-color: #343837;
    color: #fff;
    font-weight: 500;
}

.lista-clientes .right {
    text-align: right;
}

.lista-clientes .center {
    text-align: center;
}

.lista-clientes .left {
    text-align: left;
}

.lista-clientes tr:nth-child(even) {
    background-color: #f9f9f9;
    transition: background-color 0.8s ease;
}

.lista-clientes tr:hover {
    background-color: #6c757d;
    color: #fff;
}

.lista-clientes tbody tr {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.lista-clientes tbody tr:hover {
    transform: translateY(2px);
}

.actions-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding-right: 1rem;
}

.actions-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-excluir {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #dc3545;
    transition: color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
}

.botao-excluir mat-icon {
    font-size: 24px;
}

.botao-excluir:hover {
    color: #a71d2a;
    transform: scale(1.1);
}

.botao-cadastrar {
    background-color: #28a745;
    margin-right: 2rem;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-cadastrar mat-icon {
    margin-right: 8px;
}

.botao-cadastrar:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.botao-eventos {
    background-color: #1a56c5;
    margin-right: 2rem;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-eventos mat-icon {
    margin-right: 8px;
}

.botao-eventos:hover {
    background-color: #4f84e7;
    transform: scale(1.05);
}